<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="">
<head>
    <title>Sign up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="signUpPage.css">
    <h1>Sign Up</h1>
</head>
<body>
<div align="center">
    <form action="#" th:action="@{/signup}" method = "post" th:object="${user}">

        <label>First Name:</label>
        <input type="text" size="15" th:field="*{firstName}">
        <br><br>

        <label>Last Name:</label>
        <input type="text" size="15" th:field="*{lastName}">
        <br><br>

        <label>Email:</label>
        <input type="text" size="15" th:field="*{email}">
        <br><br>

        <label>Password:</label>
        <input name="password" type="password" size="15">
        <br><br>

        <input name="submit" type="submit" size="60">
    </form>
</div>

</body>
</html>